<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AbsenceManagerprojectmobile"
        tools:targetApi="31">
        <activity
            android:name=".ui.teacher.ModifyAbsenceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teacher.AddAbsenceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teacher.AbsenceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teacher.AbsentStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teacher.TeacherDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teacher.TeacherLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.JustifyAbsenceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.StudentLoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>